{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}


{% block content %}

        <div class="dados">
            <img src="{{ url_for('static', filename='images/powerplant.png')}}" alt="powerplant" width="488" height="453">
            <h1>Powerplant</h1>
            <br>
            <button id="edit" type="button" {{butshow}} onclick="window.location.href = '/Powerplant?option=edit'" class="button1">Edit</button>
            <button id="delete" type="button" {{butshow}} onclick="window.location.href = '/Powerplant?option=delete'" class="button1">Delete</button>
            <button id="insert" type="button" {{butshow}} onclick="window.location.href = '/Powerplant?option=insert'" class="button1">Insert</button>
            <button id="save" type="submit" form="form" {{butedit}} class="button1">Save</button>
            <button id="cancel" type="button" {{butedit}} onclick="window.location.href = '/Powerplant?option=cancel'" class="button1">Cancel</button>
            <button id="exit" type="button" {{butshow}} onclick="window.location.href = '/Powerplant?option=exit'" class="button1">Exit</button>
            <br><br>
            <form id="form" action="/Powerplant?option=save" method="post">
                <label for="id">Id:</label>
                {% if butedit == 'enabled' %}
                    <input type="text" disabled id="id" name="id" value="{{id}}" size="5"/>
                {%else%}
                    <input type="text" {{butedit}} id="id" name="id" value="{{id}}" size="10"/>
                {%endif%}
                <br><br>
                <label for="name">Name:</label>
                <input type="text" {{butedit}} id="name" name="name" value="{{name}}" size="30"/>
                <br><br>
                <label for="capacity">Capacity:</label>
                <input type="text" {{butedit}} id="capacity" name="capcity" value="{{capacity}}" size="10"/>
                <br><br>
                <label for="plant_type">Plant Type:</label>
                <input type="text" {{butedit}} id="plant_type" name="plant_type" value="{{plant_type}}" size="10"/>
                <br><br>
                <label for="operator_id">Operator ID:</label>
                <input type="text" {{butedit}} id="operator_id" name="operator_id" value="{{operator_id}}" size="30"/>
            </form>
            <br>
            <button id="first" type="button" {{butshow}} onclick="window.location.href = '/Powerplant?option=first'" class="button1">First</button>
            <button id="previous" type="button" {{butshow}} onclick="window.location.href = '/Powerplant?option=previous'" class="button1">Previous</button>
            <button id="next" type="button" {{butshow}} onclick="window.location.href = '/Powerplant?option=next'" class="button1">Next</button>
            <button id="last" type="button" {{butshow}} onclick="window.location.href = '/Powerplant?option=last'" class="button1">Last</button>
        </div>

{% endblock %}