{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}


{% block content %}

        <div class="dados">
            <img src="{{ url_for('static', filename='images/distribution.png')}}" alt="distribution" width="400" height="350">
            <h1>Distribution</h1>
            <br>
            <button id="edit" type="button" {{butshow}} onclick="window.location.href = '/Distribution?option=edit'" class="button1">Edit</button>
            <button id="delete" type="button" {{butshow}} onclick="window.location.href = '/Distribution?option=delete'" class="button1">Delete</button>
            <button id="insert" type="button" {{butshow}} onclick="window.location.href = '/Distribution?option=insert'" class="button1">Insert</button>
            <button id="save" type="submit" form="form" {{butedit}} class="button1">Save</button>
            <button id="cancel" type="button" {{butedit}} onclick="window.location.href = '/Distribution?option=cancel'" class="button1">Cancel</button>
            <button id="exit" type="button" {{butshow}} onclick="window.location.href = '/Distribution?option=exit'" class="button1">Exit</button>
            <br><br>
            <form id="form" action="/Distribution?option=save" method="post">
                <label for="id">Id:</label>
                {% if butedit == 'enabled' %}
                    <input type="text" disabled id="id" name="id" value="{{id}}" size="5"/>
                {%else%}
                    <input type="text" {{butedit}} id="id" name="id" value="{{id}}" size="10"/>
                {%endif%}
                <br><br>
                <label for="region_id">Region Id:</label>
                <input type="text" {{butedit}} id="region_id" name="region_id" value="{{region_id}}" size="30"/>
                <br><br>
                <label for="powerplant_id">Powerplant Id:</label>
                <input type="text" {{butedit}} id="powerplant_id" name="powerplant_id" value="{{powerplant_id}}" size="10"/>
                <br><br>
                <label for="energy_supplied">Energy Supplied:</label>
                <input type="text" {{butedit}} id="energy_supplied" name="energy_supplied" value="{{energy_supplied}}" size="10"/>
                <br><br>
                <label for="distribution_date">Distribution Date:</label>
                <input type="text" {{butedit}} id="distribution_date" name="distribution_date" value="{{distribution_date}}" size="30"/>
            </form>
            <br>
            <button id="first" type="button" {{butshow}} onclick="window.location.href = '/Distribution?option=first'" class="button1">First</button>
            <button id="previous" type="button" {{butshow}} onclick="window.location.href = '/Distribution?option=previous'" class="button1">Previous</button>
            <button id="next" type="button" {{butshow}} onclick="window.location.href = '/Distribution?option=next'" class="button1">Next</button>
            <button id="last" type="button" {{butshow}} onclick="window.location.href = '/Distribution?option=last'" class="button1">Last</button>
        </div>

{% endblock %}