{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}


{% block content %}

        <div class="dados">
            <img src="{{ url_for('static', filename='images/person.jpg')}}" alt="persons" width="200" height="200">
            <h1>Grid Operator</h1>
            <br>
            <button id="edit" type="button" {{butshow}} onclick="window.location.href = '/GridOperator?option=edit'" class="button1">Edit</button>
            <button id="delete" type="button" {{butshow}} onclick="window.location.href = '/GridOperator?option=delete'" class="button1">Delete</button>
            <button id="insert" type="button" {{butshow}} onclick="window.location.href = '/GridOperator?option=insert'" class="button1">Insert</button>
            <button id="save" type="submit" form="form" {{butedit}} class="button1">Save</button>
            <button id="cancel" type="button" {{butedit}} onclick="window.location.href = '/GridOperator?option=cancel'" class="button1">Cancel</button>
            <button id="exit" type="button" {{butshow}} onclick="window.location.href = '/GridOperator?option=exit'" class="button1">Exit</button>
            <br><br>
            <form id="form" action="/GridOperator?option=save" method="post">
                <label for="id">Id:</label>
                {% if butedit == 'enabled' %}
                    <input type="text" disabled id="id" name="id" value="{{id}}" size="5"/>
                {%else%}
                    <input type="text" {{butedit}} id="id" name="id" value="{{id}}" size="10"/>
                {%endif%}
                <br><br>
                <label for="name">Name:</label>
                <input type="text" {{butedit}} id="name" name="name" value="{{name}}" size="30"/>
                <br><br>
                <label for="contact">Contact:</label>
                <input type="text" {{butedit}} id="contact" name="contact" value="{{contact}}" size="10"/>
            </form>
            <br>
            <button id="first" type="button" {{butshow}} onclick="window.location.href = '/GridOperator?option=first'" class="button1">First</button>
            <button id="previous" type="button" {{butshow}} onclick="window.location.href = '/GridOperator?option=previous'" class="button1">Previous</button>
            <button id="next" type="button" {{butshow}} onclick="window.location.href = '/GridOperator?option=next'" class="button1">Next</button>
            <button id="last" type="button" {{butshow}} onclick="window.location.href = '/GridOperator?option=last'" class="button1">Last</button>
        </div>

{% endblock %}